<script type='text/html-template' id='todo-template'>
  <form>
    <input type='checkbox' name='completed' <%= checked %> />
    <input type='text' name='title' value='<%= title %>' />
  </form>
</script>
