body {
  background-color: #e7e7e7;
  padding-left: .5em;
}

input[type="checkbox"] {
  cursor: pointer;
}

.title {
  display: inline-block;
  text-shadow: .1em .1em .1em rgba(0,0,0,0.2);
  margin: 0;
  font-size: 2.5em;
}

.content {
  display: inline-block;
}

.line-through {
  text-decoration: line-through;
  font-style: italic;
  color: rgba(0,0,0,0.4);
}
