body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e7e7e7;
  padding-left: .5em;
  text-shadow: 0 .1em white;
}

input[type="checkbox"] {
  cursor: pointer;
}

.title {
  display: inline-block;
  margin: 0;
  font-size: 2.5em;
}

.content {
  display: inline-block;
}

.line-through {
  text-decoration: line-through;
  font-style: italic;
  color: rgba(0,0,0,0.4);
}
